body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: #fff;
}

.login-card {
  max-width: 320px;
  margin: 100px auto;
  padding: 25px;
  background: #141414;
  border-radius: 12px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #e50914;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
}
